Package: qrfcview
Version: 0.62-5.3
Architecture: amd64
Maintainer: Frederic Daniel Luc Lehobey <Frederic@Lehobey.net>
Installed-Size: 204
Depends: libc6 (>= 2.14), libgcc1 (>= 1:3.0), libqt4-network (>= 4:4.5.3), libqtcore4 (>= 4:4.7.0~beta1), libqtgui4 (>= 4:4.5.3), libstdc++6 (>= 4.1.1)
Suggests: doc-rfc
Section: doc
Priority: optional
Homepage: http://qrfcview.berlios.de/
Description: viewer for IETF RFCs
 qRFCView is a smart IETF RFC viewer based on the Qt4 library featuring:
 .
  - automatic table of content, with direct opening of section;
  - handling of RFC internal cross-references;
  - automatic downloading of a referenced RFC from the IETF web site
    on a simple click;
  - caching of RFC in a local directory;
  - tab-browsing of RFC;
  - searching.
